html {
    font-size: 20px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333px !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 22.08px !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6px !important;
    }
}
body{
    line-height:1.6;
    font-family:-apple-system-font, "Helvetica Neue", sans-serif;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
a img{
    border:0;
}
a{
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    color: #108EE9;
}
ul,li{
    list-style: none;
}
.weui-picker-overlay, .weui-picker-container{
    z-index: 2001;
}
.weui-toast{
    text-align: center;
}
.weui-icon_toast{
    font-size: 50px;
}
.weui-toast_content{
    font-size: 0.7rem;
}
.weui-toptips{
    z-index: 1001;
}

.weui-cell_access:active{
    background-color: #fff;
}
.weui-btn{
    font-size: 0.8rem;
}
.weui-btn_primary{
    background: #3490DE;
}
.weui-btn_primary:not(.weui-btn_disabled):active{
    background: #2970ad;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.hide{
    display: none;
}
.fui-row{
    padding: 0 4px;
}
.fui-row:before,.fui-row:after{
    content: '';
    display: table;
}
.fui-row:after{
    clear: both;
}
.fui-col-1{
    width: 8.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-2{
    width: 16.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-3{
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-4{
    width: 33.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-5{
    width: 41.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-6{
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}
.fui-col-7{
    width: 58.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-8{
    width: 66.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-9{
    width: 75%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-10{
    width: 83.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-11{
    width: 91.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}
.fui-col-12{
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    min-height: 1px;
}

.pull-left{
    float: left!important;
}
.pull-right{
    float: right!important;
}

.bg_orange{
    background-color: #fc6f66;
}
.bg_orange{
    background-color: #fc6f66;
}
.bg_pink{
    background-color: #fd73a0;
}
.bg_yellow{
    background-color: #fd9658;
}
.bg_gold{
    background-color: #ffc119;
}
.bg_purple{
    background-color: #836bf7;
}
.bg_lightPurple{
    background-color: #9aaefc;
}
.bg_blue{
    background-color: #71c2fc;
}
.bg_green{
    background-color: #39e7b9;
}

.text_red{
    color: #e11b1b;
}

.ydpc_btn{
    height: 30px;
    line-height: 30px;
    background: url("../img/button_bg.png") repeat-x 0 0;
    background-size: 100% 100%;
    border-radius: 15px;
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
    width: 100%;
    border: none;
}

.weui-page,.weui-page-group{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    box-sizing: border-box;
    display: block;
}
.weui-page{
    overflow: hidden;
}
.weui-header{
    height: 2.2rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url("../img/tmp_bg.png") repeat-y;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}
.weui-header .header-left{
    position: absolute;
    left: 0;
    padding-left: 0.3rem;
    line-height: 2.2rem;
    height: 2.2rem;
    z-index:2;
    position: relative;
}
.weui-header .header-left a{
    height: 2.2rem;
    line-height: 2.2rem;
    padding: 0 0.5rem;
    margin: 0;
    top: 0;
    color: #999;
    display: block;
    font-size: 0.7rem;
}
.weui-header .header-left a.back:before{
    border-color: #fff;
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 0.5rem;
    width: 0.5rem;
    border-width: 0 0 2px 2px;
    border-style: solid;
    position: relative;
    top: 0;
}
.weui-header .header-left .address{
    font-size: 0.7rem;
    color: #fff;
    cursor: pointer;
}
.weui-header .header-left .address i{
    margin: 0 8px 0px 4px;
}
.weui-header .header-left .drop_address{
    position: absolute;
    top: 2.4rem;
    left: 4px;
    background: rgba(0,0,0,.6);
    color: #fff;
    z-index: 1000;
    width: 60px;
    border-radius:6px;
}
.weui-header .header-left .drop_address:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,.6);
}
.weui-header .header-left .drop_address li{
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}
.weui-header .title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #fff;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.weui-header .header-right{
    position: absolute;
    right: 0;
    padding-right: .3rem;
    height: 2.2rem;
    line-height: 2.2rem;
    z-index: 2;
    font-size: .7rem;
}
.weui-header .header-right .search{
    margin-right: 4px;
}
.weui-header .header-right .search .ydpc{
    color: #fff;
    font-size: 0.9rem;
}
.weui-header .header-right .relation{
    color: #fff;
}
.weui-content{
    bottom: 0;
    padding-bottom: 2.2rem;
    top:0;
    background: #ececec;
    margin: 0;
    position: absolute;
    left: 0;
    overflow: auto;
    width: 100%;
}
.weui-content.navbar{
    top: 2.2rem;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
    color: #999;
}
.swiper-pagination-bullet{
    background: #fafafa;
}
.swiper-pagination-bullet-active{
    background: #fafafa;
}


.load-page .weui-page-current{
    background: url("../img/reslog_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
}
.load-page .load-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
}
.load-page .load-info .logo{
    width: 4rem;
    height: 4rem;
    background: rgba(51,51,51,0.3);
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 10px;
}
.load-page .load-info .logo img{
    width: 80%;
    line-height: 4rem;
}
.load-page .load-info p{
    font-size: 0.6rem;
    color: #fff;
    line-height: 24px;
}

/*登录页*/
.register-page .weui-page-current{
    background: url("../img/reslog_bg.png") no-repeat 0 0;
    background-size: 100% 100%;
}
.register-page .weui-content{
    background: none;
}
.register-page .header{
    padding: 50px 0 30px 0;
}
.register-page .header .logo{
    width: 4rem;
    height: 4rem;
    background: rgba(51,51,51,0.3);
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 10px;
}
.register-page .header .logo img{
    width: 80%;
    line-height: 4rem;
}
.register-page .resLog-panel{
    padding: 0 16px;
    box-sizing: border-box;
    height: auto;
}
.register-page .resLog-panel .weui-navbar{
    position: static;
    width: auto;
    background-color: rgba(51,51,51,0.6);
    border-radius: 6px 6px 0 0;
}
.register-page .resLog-panel .weui-navbar:after{
    display: none;
}
.register-page .resLog-panel .weui-navbar__item{
    color: #999;
    position: relative;
}

.register-page .resLog-panel .weui-navbar__item.weui-bar__item--on{
    background: none;
    color: #fff;
}
.register-page .resLog-panel .weui-navbar__item.weui-bar__item--on:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 4rem;
    bottom: 0;
    left: 50%;
    margin-left: -2rem;
    background: #fff;
}

.register-page .resLog-panel .weui-navbar__item:after{
    border-right: 0;
}

.register-page .resLog-panel .weui-tab__bd{
    padding-top:0;
}
.register-page .loginBox,.register-page .registerBox{
    background-color: rgba(51,51,51,0.6);
    border-radius: 0 0 6px 6px;
    padding:0 10px;
}
.register-page .form .item{
    border-bottom: 1px solid #707070;
    position: relative;
    padding-left: 40px;
}
.register-page .form .item:last-child{
    border-bottom: none;
}
.register-page .form .item>label{
    position: absolute;
    left: 6px;
    top: 6px;
}
.register-page .form .item>label .iconImg{
    width: 24px;
    height: 24px;
    background: url("../img/login_ico.png") no-repeat;
    background-size: cover;
    display: inline-block;
}
.register-page .form .item>label .iconImg.phone{
    background-position: 0 0;
}
.register-page .form .item>label .iconImg.password{
    background-position: 0 -48px;
}
.register-page .form .item>label .iconImg.captcha{
    background-position: 0 -96px;
}
.register-page .form .item>label .iconImg.investMen{
    background-position: 0 -144px;
}
.register-page .form .item.veCode .sendVeCode{
    position: absolute;
    right: 0;
    font-size: 0.7rem;
    top: 10px;
    color: #999;
}
.register-page .form .item>input{
    background: none;
    border: none;
    padding: 12px 0;
    font-size: 0.75rem;
    width: 100%;
    color: #fff;
}
.register-page .form .item>input:focus{
    outline:none;
}
.register-page .form .item_submit{
    margin-top: 20px;
}
.register-page .form .item_forget{
    margin-top: 5px;
}
.register-page .form .item_forget a{
    font-size: 0.6rem;
    color: #fff;
    text-decoration: underline;
}
.register-page .form .weui-btn-submit{
    background-color: rgba(51,51,51,0.6);
    font-size: 0.7rem;
}
.register-page .form .investment{
    background-color: rgba(51,51,51,0.6);
    border-radius: 6px;
    padding:0 10px;
    margin-top: 20px;
}

/*底部导航*/
.weui-tabbar .weui-tabbar__icon span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/bottombar.png") no-repeat 0 0;
    background-size: 100% auto;
}
.weui-tabbar .home .weui-tabbar__icon span{
    background-position: 0 -47px;
}
.weui-tabbar .intro .weui-tabbar__icon span{
    background-position: 0 -140px;
}
.weui-tabbar .buy .weui-tabbar__icon span{
    background-position: 0 -234px;
}
.weui-tabbar .help .weui-tabbar__icon span{
    background-position: 0 -327px;
}
.weui-tabbar .center .weui-tabbar__icon span{
    background-position: 0 -421px;
}

.weui-tabbar .home.weui-bar__item--on .weui-tabbar__icon span{
    background-position: 0 0px;
}
.weui-tabbar .intro.weui-bar__item--on .weui-tabbar__icon span{
    background-position: 0 -92px;
}
.weui-tabbar .buy.weui-bar__item--on .weui-tabbar__icon span{
    background-position: 0 -187px;
}
.weui-tabbar .help.weui-bar__item--on .weui-tabbar__icon span{
    background-position: 0 -280px;
}
.weui-tabbar .center.weui-bar__item--on .weui-tabbar__icon span{
    background-position: 0 -374px
}
/*首页*/
 .swiper-container{
    line-height: 0;
}
.center-page .flex_nav{
    background: #fff;
    padding: 8px 4px;
}
.center-page .flex_nav .weui-flex__item{
    padding: 4px;
}
.center-page .flex_nav .weui-flex__item .imgBox{
    width: 60px;
    display: inline-block;
}

.center-page .flex_nav .weui-flex__item .text{
    font-size: 0.5rem;
}
.center-page .recommend .title{
    background: #fff;
    margin-top: 6px;
    padding: 10px 8px;
    font-size: 0.8rem;
    color: #333;
}
.fui-goods-group{
    height: auto;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}
.fui-goods-group .fui-goods-item {
    border: 1px solid #eee;
    background: none;
    display: block;
    margin-bottom: 8px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: block;
}
.fui-goods-group .fui-goods-item .image {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 65%;
    position: relative;
}
.fui-goods-group .fui-goods-item .image .goods_label{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 1rem;
    color: #fff;
    padding: 0 0.5rem;
}
.fui-goods-group .fui-goods-item .image .goods_label label{
    width: 1.4rem;
    height:1.3rem;
    padding: 1px;
    font-size: 0.5rem;
    text-align: center;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: 0.2rem;
}
.fui-goods-group .fui-goods-item .detail{
    padding: 0 4px 0.3rem;

}
.fui-goods-group .fui-goods-item .detail .name {
    color: #333;
    margin: 0.3rem 0 0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.7rem;
    line-height: 0.9rem;
}
.fui-goods-group .fui-goods-item .detail .price .text{
    font-size: 0.6rem;
    color: #e11b1b;
}
.fui-goods-group .fui-goods-item .detail .price .total{
    padding:0 16px;
    margin-top: 8px;
}
.fui-goods-group .fui-goods-item .detail .price .tip{
    font-size: 0.4rem;
    color: #999;
    text-align: center;
}

/*商品分类*/
.category-page .fui-fullHigh-group{
    position: absolute;
    top: 0rem;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.category-page .fui-fullHigh-group.category-panel .fui-tab-header{
    background: #fff;
    height: 2.0rem;
}
.category-page .fui-fullHigh-group.category-panel .fui-tab-header .fui-tab{
    padding: 0 3rem;
}
.category-page .fui-fullHigh-group.category-panel .fui-tab-header .tab{
    margin: 0  1rem;
}
.category-page .fui-fullHigh-group.category-panel .tab-content{
    display: none;
}
.category-page .fui-fullHigh-group.category-panel .tab-content.active{
    display: flex;
}
.category-page .fui-fullHigh-item {
    height: inherit;
    width: 100%;
    overflow-y: auto;
}

.category-page .fui-fullHigh-item.menu {
    width: 5rem;
    background: #fff;
}

.category-page .fui-fullHigh-item.menu nav {
    line-height: 2.2rem;
    font-size: 0.8rem;
    text-align: center;
    color: #999;
    padding: 0rem 0.2rem;
    height: 2.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
}

.category-page .fui-fullHigh-item.menu nav:active {
    background: #fff;
}

.category-page .fui-fullHigh-item.menu nav.on {
    background: url("../img/button_bg.png") repeat-x 0 0;
    background-size: auto 100%;
    position: relative;
    color: #fff;
}

.category-page .fui-fullHigh-item.container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar{
    background: #fff;
    padding: 4px;
    height: 2.2rem;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar:after{
    display: none;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar .weui-search-bar__box{

}
.category-page .fui-fullHigh-item.container  .weui-search-bar .weui-search-bar__label .ydpc{
    font-size: 0.9rem;
    line-height: 1.8rem;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar .weui-search-bar__label span{
    font-size: 0.8rem;
    margin-top: -4px;
    line-height: 1.8rem;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar .weui-search-bar__box .ydpc {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 1.8rem;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar .weui-search-bar__box .weui-search-bar__input{
    padding: 0;
    height: 1.8rem;
    line-height: 1.8rem;
    box-sizing: border-box;
    font-size: 0.7rem;
}
.category-page .fui-fullHigh-item.container  .weui-search-bar .weui-search-bar__cancel-btn{
    line-height:1.8rem;
    color: #666;
}
.category-page .fui-fullHigh-item.container .weui-search-bar__box .weui-icon-clear{
    line-height: 1.8rem;
}
.category-page .fui-fullHigh-item.container .sort-wrap{
    background: #fff;
    position: relative;
}
.category-page .fui-fullHigh-item.container .sort-wrap:before{
    content: '';
    width: 1px;
    height: 16px;
    background: #95989A;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8px;
}
.category-page .fui-fullHigh-item.container .sort-wrap .item{
    height: 2.2rem;
}
.category-page .fui-fullHigh-item.container .sort-wrap .item .text{
    line-height: 2.2rem;
    font-size: 0.7rem;
}
.category-page .fui-fullHigh-item.container .sort-wrap .item .text .ydpc{
    color: #333;
}
.category-page .fui-fullHigh-item.container .sort-wrap .sort_add{
    position: relative;
}
.category-page .fui-fullHigh-item.container .sort-wrap .sort_add .drop_address{
    position: absolute;
}

.category-page .fui-fullHigh-item.container .sort-wrap .sort_add .drop_address{
    position: absolute;
    top: 2.2rem;
    left: 50%;
    margin-left: -20px;
    background: rgba(0,0,0,.6);
    color: #fff;
    z-index: 1000;
    width: 60px;
    border-radius:6px;
}
.category-page .fui-fullHigh-item.container .sort-wrap .sort_add .drop_address:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,.6);
}
.category-page .fui-fullHigh-item.container .sort-wrap .sort_add .drop_address li{
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.category-page .fui-goods-group.fui-row .fui-col-6{
    padding-left: 2px;
    padding-right: 2px;
}
.category-page .fui-goods-group .fui-goods-item .detail .name{
    font-size: 0.6rem;
}
.category-page .fui-goods-group .fui-goods-item .detail .price .total{
    padding: 0 4px;
}
.category-page .fui-goods-group .fui-goods-item .detail .price .total .ydpc_btn{
    font-size: 0.6rem;
}

/*支付意向金*/
.pay-page .pay_panel{
    background: url("../img/tmp_bg.png") repeat-y 0 0;
    background-size:100% 100%;
    padding: 16px 0;
}
.pay-page .pay_panel img{
    width: 50%;
    max-width: 250px;
}
.pay-page .pay_panel .goods_title{
    color: #fff;
    font-size: 0.8rem;
}
.pay-page .pay_panel .goods_sum{
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
}
.pay-page .pay_agree .weui-cell__bd p{
    font-size: 0.7rem;
}
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before{
    color: #10DF09;
}
.weui-cells_checkbox .weui-icon-checked:before{
    font-size: 0.8rem;
}
.weui_paybar{
    position: absolute;
    z-index: 500;
    bottom: 0;
    width: 100%;
}
.weui_paybar .payBtn{
    margin-bottom: 4px;
    color: #fff;
    line-height: 50px;
    height: 50px;
    font-size: 0.9rem;
}
.weui_paybar .payBtn.aliPay{
    background: #01A7FD;
}
.weui_paybar .payBtn.wechatPay{
    background: #62B900;
}
.weui_paybar .payBtn.ydPay{
    background: url("../img/tmp_bg.png") repeat-y 0 0;
    background-size: 100 100%;
}
.weui_paybar .payBtn:last-child{
    margin-bottom: 0;
}
#payAgree{
    z-index:1000;
}
#payAgree .weui-popup__modal{
    padding: 16px;
}
#payAgree .weui-popup__modal article h5{
    font-size: 0.8rem;
    font-weight: normal;
    color: #333;
    text-align: center;
    padding: 20px 0;
}
#payAgree .weui-popup__modal article p{
    font-size: 0.7rem;
    text-indent: 1.4rem;
    margin-bottom: 10px;
    color: #666;
}
#payAgree .weui-popup__modal .ydpc_btn{
    max-width: 150px;
    margin: 0 auto;
}

/*分享说明*/
.share-page .logo{
    margin-top: 35px;
}
.share-page .logo img{
    width: 4.25rem;
}
.share-page .share_text{
    padding: 35px 19px;
}
.share-page .share_text p{
    font-size: 0.83rem;
    text-indent: 2rem;
    color: #999;
    line-height: 1.8rem;
    letter-spacing: 3px;
}

/*商品详情*/
.fui-cell-group{
    margin-top: 0.3rem;
    background-color: #fff;
    line-height: 1.4;
    font-size: 0.8rem;
    overflow: hidden;
    position: relative;
}
.fui-cell-group .fui-cell{
    position: relative;
    padding: 0.75rem 0.5rem 0.65rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    line-height: 1;
}
.fui-cell-group .fui-cell:before{
    content: " ";
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    bottom: -1px;
    height: 1px;
    border-top: 1px solid #ebebeb;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.fui-cell-group .fui-cell .fui-cell-text{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.fui-cell-group .fui-cell .fui-cell-remark{
    color: #999;
    text-align: right;
    font-size: 0.65rem;
    margin-right: .2rem;
    line-height: 0.65rem;
}
.fui-cell-group .fui-cell .fui-cell-label{
    position: relative;
    display: block;
    width: 6rem;
    font-size: 0.85rem;
    color: #333;
}
.fui-cell-group .fui-cell .fui-cell-info{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
}
.fui-cell-group .fui-cell .fui-input{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: .85rem;
    -webkit-appearance: none;
    background-color: transparent;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
}


.fui-detail-group .fui-cell{
    padding: 0 0.5rem;
}
.fui-detail-group .fui-cell:before{
    display: none;
}
.detail-page .fui-detail-group{
    margin-top: 0;
}
.detail-page .fui-detail-group .fui-cell .name{
    padding: 0.4rem 0 0;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #000;
}
.detail-page .goods-subtitle span{
    font-size: .7rem;
    padding: .5rem 0 0.2rem;
    line-height: 0.9rem;
}
.detail-page .fui-detail-group .goods_sum{
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
}
.detail-page .fui-detail-group .goods_sum .fui-cell-text>span{
    color: #999;
    font-size: 0.7rem;
}
.detail-page .fui-detail-group .goods_sum .fui-cell-text .text_red{
    font-size: 1rem;
}
.fui-detail-tab{
    background: none;
}
.fui-tab{
    background: #fff;
    position: relative;
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 0rem;
}
.fui-tab a{
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: #333;
    font-size: 0.75rem;
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}
.fui-tab a.active{
    border-bottom-color: #000;
    font-size: 0.75rem;
}
.fui-tab-content{
    display: none;
}
.fui-tab-content.on{
    display: block;
}
.fui-tab-content .fui-cell-group.intImg{
    margin-top: 0;
}
.fui-tab-content .fui-cell-group.intImg i{
    font-size: 6rem;
    color: #999;
}
.fui-tab-content .fui-cell-group.detail .title{
    font-size: 0.65rem;
    line-height: 1.75rem;
    padding-left: 0.6rem;
    border-left: 2px solid #000;
}
.fui-tab-content .fui-cell-group.detail .content-images i{
    font-size: 6rem;
    color: #999;
}
.fui-tab-content .fui-cell-group.detail .content-images img{
    width: 100%;
}
.visitRecord .fui-cell,.transRecord .fui-cell{
    padding: 0.6rem 0.5rem 0.5rem;
}
.visitRecord .fui-cell-text span,.transRecord .fui-cell-text span{
    line-height: 0.8rem;
}
.visitRecord .fui-cell-text .name,.transRecord .fui-cell-text .name{
    font-size: 0.8rem;
    color: #333;
}
.visitRecord .fui-cell-text .phone,.transRecord .fui-cell-text .phone{
    font-size: 0.55rem;
    color: #999;
}
.visitRecord .fui-cell-remark,.transRecord .fui-cell-remark{
    font-size: 0.7rem;
}

/*会员中心*/
.member-page .member_panel{
    background: url("../img/tmp_bg.png") repeat-y 0 0;
    background-size:100% 100%;
    color: #fff;
    padding: 0.65rem 0.5rem;
}
.member-page .member_panel .userInfo{
    position: relative;
    background: rgba(123,123,123,0.2);
    padding: 1.7rem 0;
    border-radius: 8px;
}
.member-page .member_panel .userInfo .name{
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 2px;
}
.member-page .member_panel .userInfo .phone{
    font-size: 0.65rem;
    margin-top: 6px;
}
.member-page .member_panel .userInfo .edit{
    position: absolute;
    font-size: 0.65rem;
    right: 0.6rem;
    top: 0.65rem;
}
.member-page .member_panel .userInfo .edit .ydpc{
    font-size: 0.63rem;
    margin-right: 0.4rem;
}

.member-page .fui-cell-group{
    margin-top: 1rem;
}
.member-page .fui-cell-group .fui-cell{
    padding: 0.9rem 0.5rem 0.9rem;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont{
    width: 18px;
    height: 18px;
    background: url("../img/icon.png") no-repeat 0 0;
    background-size: 100% auto;
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: -3px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.inv{
    background-position: 0 -26px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.bal{
    background-position: 0 -56px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.record{
    background-position: 0 -88px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.set{
    background-position: 0 -122px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.agent{
    background-position: 0 -157px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.share{
    background-position: 0 -190px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.help{
    background-position: 0 -224px;
}
.member-page .fui-cell-group .fui-cell .fui-cell-text{
    font-size: 0.85rem;
    color: #333;
}
.fui-cell-group.fui-cell-click .fui-cell-remark:after{
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 0.4rem;
    width: 0.4rem;
    border-width: 2px 2px 0 0;
    border-color: #999;
    border-style: solid;
    position: relative;
    top: 0px;
    margin-left: 0;
}

/*修改个人信息*/
.editmember-page .fui-cell-group{
    margin-top: 0.5rem;
}
.editmember-page .fui-cell-group .fui-cell-icon .iconfont{
    width: 18px;
    height: 18px;
    background: url("../img/icon.png") no-repeat 0 0;
    background-size: 100% auto;
    display: inline-block;
    margin-right: 0.8rem;
}
.editmember-page .fui-cell-group .fui-cell-icon .iconfont.edit{
    background-position: 0 -257px;
}
.editmember-page .form .item_submit{
    padding: 2.5rem 0.5rem 0;
}
.editmember-page .form .item_submit .ydpc_btn{
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.8rem;
}

/*拼车记录*/
.carpool-page .fui-goods-item{
    position: relative;
    height: auto;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.carpool-page .fui-goods-item .image{
    height: 4rem;
    width: 4rem;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    border-radius: 4px;
}
.carpool-page .fui-goods-item .detail{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    padding-left: .5rem;
    padding-bottom: 0;
    position: relative;
}
.carpool-page .fui-goods-item .detail .name{
    margin-top: 0;
    color: #333;
    font-size: 0.65rem;
    word-wrap: break-word;
    word-break: break-all;
}
.carpool-page .fui-goods-item .detail .time{
    font-size: 0.55rem;
    color: #999;
}
.carpool-page .fui-goods-item .detail .progress{
    margin-top: 6px;
    padding-right: 80px;
}
.carpool-page .fui-goods-item .detail .progress .tip{
    font-size:0.45rem;
    color: #333;
    line-height: 17px;
    white-space:nowrap;
}
.carpool-page .fui-goods-item .detail .relation{
    position: absolute;
    top: 1.3rem;
    right: 0rem;
}
.carpool-page .fui-goods-item .detail .relation .ydpc_btn{
    font-size: 0.55rem;
    line-height: 1.2rem;
    height: 1.2rem;
    padding: 0 0.5rem;
}
.carpool-page .fui-goods-item .detail .payStatus{
    position: absolute;
    bottom: 4px;
    right: 0;
}
.carpool-page .fui-goods-item .detail .payStatus p{
    font-size: 0.55rem;
    color: #999;
    word-break:keep-all;
    white-space:nowrap;
}
.weui-progress__bar{
    height: 5px;
    border-radius: 3px;
    overflow: hidden;
}
.weui-progress__inner-bar{
    background-color:#e11b1b;
    border-radius: 3px;
}
/*设置*/
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.pass{
    background-position: 0 -290px;
}
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.about{
    background-position: 0 -325px;
}
.set-page .fui-cell-group{
    margin-top: 1rem;
}
.set-page .fui-cell{
    padding: 0.9rem 0.5rem 0.9rem;
}
.set-page .fui-cell .fui-cell-text{
    font-size: 0.85rem;
}
.set-page .fui-cell-group.loginOut{
    margin-top: 2.5rem;
}
.set-page .fui-cell-group.loginOut .fui-cell{
    display: block;
}
.set-page .fui-cell-group .fui-cell .fui-cell-icon .iconfont.out{
    background-position: 0 -361px;
}
/*修改密码*/
.fui-cell-group .fui-cell .fui-cell-icon .iconfont.phone{
    height: 24px;
    margin-bottom: 0;
    background-position: 0 -399px;
}
.resetPassword-page .fui-cell{
    position: relative;
}
.resetPassword-page .fui-cell-info{
    padding-right: 5rem;
}
.resetPassword-page .fui-cell-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 5.25rem;
    height: 100%;
}
.resetPassword-page .fui-cell-group{
    margin-top: 1rem;
}
.resetPassword-page .fui-cell-btn .fui-btn{
    position: absolute;
    top: 0;
    width: 5.25rem;
    height: 100%;
    color: #fff;
    font-size: 0.85rem;
    background: url("../img/tmp_bg.png") repeat-y 0 0;
    background-size: 100% auto;
    border: none;
}

/*帮助中心*/
.help-page .ans{
    background: #ececec;
    display: none;
}
.help-page .fui-cell-group{
    margin-top: 0;
}
.help-page .fui-cell-group .fui-cell-icon{
    background: #e5e5e5;
    color: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 0.83rem;
    line-height: 24px;
    margin-right: 0.8rem;
}
.help-page .fui-cell-group .fui-cell-text{
    font-size: 0.85rem;
}
.help-page .fui-cell-group.fui-cell-click .fui-cell-remark:after{
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -4px;
}
.help-page .fui-cell-group.fui-cell-click .fui-cell.on .fui-cell-remark:after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:0;
}

.help-page .fui-cell-group .ans{
    font-size: 0.65rem;
    line-height: 1.05rem;
    color: #999;
    padding: 16px 10px;
}